@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@100&display=swap');
html{
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}
.card{
  border: 1px solid lightgray;
}
.bi:hover{
  background-color: white !important;
  border: none;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}
.Generator{
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;

}
p{
  padding:0px;
  margin: 0px;
}

.function-buttons{
  position: absolute;
  right: 0;
  top: 550px;
  justify-content: center;
  color: #fff;
  padding: 5px;
}

.bi-printer{
  font-size: 32px;
  color: #60b0f4;
}

.btn-print{
background-color: white;
border-radius: 25px;
box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
border: none;
}

.input-box{
  border: none;
  width: 100%;
}
.input-box:hover{
  border-bottom: 1px solid lightgray;
}
.input-box:focus{
  border: none;
}
.personal-details{
  margin: 25px;
}
.personal-details > .card{
  padding: 10px;
}
.personal-summary{
  margin: 25px;
}
.personal-summary>.card{
  width: 100%;
  height: 150px;
  padding: 5px;

}
.experience{
  margin: 25px;
}

.experience-summary{
  width: 95%;
}
.bi:hover{
  padding: 5px;
  border-radius: 20px;
}
.skills{  
  margin: 25px;
}
.education{
  margin: 25px;
}
.language{
  margin: 25px;
}
.cv-template{
  margin: 25px;
}

.header{
  border-bottom: 1px solid lightgray;
}
.person{
  height: 100px;
}
.section-one, 
.section-two, 
.section-three, 
.section-four, 
.section-five
{
  border-bottom: 1px solid lightgray;
}
.skill{
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
.language-section{
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
.text{
  padding: 0;
  margin: 0;
  font-weight: 100;
}
.cv-education{
  margin-bottom: 10px;
  gap: 200px;
}
.progress-bar{
  width: 50px;
}

.btn-view{
  display: none;
}

.skill-body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
}

@media screen and (max-width: 667px){
  .Generator{
    display: flex;
    flex-direction: column;
  }
  
  .personal-details > .card{
    padding: 10px;
  }
  .personal-summary>.card{
    height: 200px;
  }
  .cv-template{
    display: none;
  }
  .section-one, 
  .section-two, 
  .section-three, 
  .section-four, 
  .section-five{
    font-size: 13px !important;
  }
  .header{
    font-size: 10px;
  }
  .skill-body{
    display: flex;
    flex-direction: column;
  }
  .function-buttons{
    display: flex;
    position: sticky;
    right: 33px;
    bottom: 0;
    justify-content: space-between;
    color: #fff;
    padding: 5px;
  }

  .btn-view, .btn-print{
  background-color: white;
  border-radius: 25px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border: none;
  }
  .bi-printer, .bi-eye{
    font-size: 30px;
    padding: 5px;
    color: #60b0f4;
  }

  .btn-view{
    display: block;
  }
  
}

@media (min-width: 668px) and (max-width: 992px){
  .Generator{
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .btn-view, .btn-print{
    background-color: white;
    border-radius: 25px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    border: none;
    }
  .function-buttons{
    display: flex;
    position: sticky;
    bottom: 0;
    justify-content: center;
    color: #fff;
    padding: 5px;
  }
  .bi-printer{
    font-size: 32px;
    color: #60b0f4;
  }
  .btn-print{
    border-radius: 40px;
  }
  .btn-view{
    display: none;
  }
}