.navbar{
  background-color: lightgray;
  font-size: 25px;
  text-align: center;
}
p{
  padding:0px;
  margin: 0px;
}
.input-box{
  border: none;
}
.input-box:hover{
  border-bottom: 1px solid lightgray;
}
.input-box:focus{
  border: none;
}
.personal-details{
  width: 340px;
  margin: 25px;
}

.personal-details > .card{
  padding: 10px;
}
.personal-summary{
  margin: 25px;
}
.personal-summary>.card{
  width: 340px;
  height: 200px;
  padding: 5px;
}
.experience{
  width: 340px;
  margin: 25px;
}

.experience-summary{
  width: 320px;
}
.bi:hover{
  background-color: lightgrey;
  padding: 5px;
  border-radius: 20px;
}
.skills{
  width: 340px;
  margin: 25px;
}
.education{
  width: 340px;
  margin: 25px;
}
.language{
  width: 340px;
  margin: 25px;
}
.cv-template{
  margin: 25px;
  width: 800px;
}
.header{
  border-bottom: 1px solid lightgray;
}
.person{
  height: 100px;
}
.section-one, 
.section-two, 
.section-three, 
.section-four, 
.section-five
{
  border-bottom: 1px solid lightgray;
}
.skill{
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
.language-section{
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
.text{
  padding: 0;
  margin: 0;
  font-weight: 100;
}
.cv-education{
  margin-bottom: 10px;
  gap: 200px;
}
.progress-bar{
  width: 50px;
}
@media screen and (max-width: 768px){
  .Generator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .personal-details{
    width: 450px;
  }
  .personal-details > .card{
    padding: 10px;
  }
  .personal-summary>.card{
    width: 450px;
    height: 200px;
  }
  .experience{
    width: 450px;
  }
  .skills{
    width: 450px;
  }
  .education{
    width: 450px;
  }
  .language{
    width: 450px;
  }
  .cv-template{
    width: 450px;
  }
}